.nav_info_btn {
  text-decoration: none;
  transition: 0.2s;
  color: #888888;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  &.nav_info_btn:hover {
    scale: var(--main-elem-scale);
  }
}
.nav_info_btn_donate {
  color: #ffffff;
  font-size: 20px;
  font-weight: lighter;
  background: linear-gradient(to right, rgb(255, 185, 8) 0%, rgba(231, 58, 58, 0.92) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  height: 40px;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 80px;
  border-radius: 12px;
  transition: 0.2s;
  cursor: pointer;
  animation: animeee 2.7s infinite;
  font-family: Poppins, sans-serif;

}
@keyframes animeee {

  0% {
    font-size: 20px;
  }
  25% {
    font-size: 24px;
  }
  50% {
    font-size: 20px;
  }
  75% {
    font-size: 24px;
  }
  100% {
    font-size: 20px;
  }
}
/* Стили для мобильных устройств (телефоны) */
@media only screen and (max-width: 600px) {
  .nav_info_btn {
    font-size: 4px;
    display: none;
  }
}

/* Стили для планшетов и небольших мониторов */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .nav_info_btn {
    font-size: 4px;
    display: none;
  }
  .nav_info_btn_donate {
    font-size: 12px;
    width: 60px;
  }
}

@media only screen and (max-width: 1440px) {
  .nav_info_btn {
    font-size: 12px;
  }
  .nav_info_btn_donate {
    font-size: 12px;
    width: 60px;
  }
  @keyframes animeee {
    0% {
      font-size: 14px;
    }
    25% {
      font-size: 18px;
    }
    50% {
      font-size: 14px;
    }
    75% {
      font-size: 18px;
    }
    100% {
      font-size: 14px;
    }
  }
}

/* Стили для ноутбуков и более крупных мониторов */
@media only screen and (min-width: 1025px) {
  /* Ваши стили для ноутбуков и более крупных мониторов */
}