.windows_plate {
  height: 350px;
  width: 650px;
  display: flex;
  justify-content: start;
  background: linear-gradient(to top, #0069e0, #00bdff);
  gap: 70px;
  text-decoration: none;
  border-radius: 20px;
  transition: var(--main-elem-transition);
  &.windows_plate:hover {
    scale: var(--main-elem-scale);
  }
}
.windows_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.win_img {
  height: 240px;
  margin-right: 50px;
}
.windows_text {
  color: whitesmoke;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 40px;
  width: 260px;
  height: 160px;
  margin-left: 40px;
  font-size: 40px;
  font-family: Poppins, sans-serif;
  font-weight: bolder;
}