.btn_info {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
}
.text_info {
  font-family: Poppins, sans-serif;
  font-weight: initial;
  color: #2d2d2d;
  border: 1px solid #cecece;
  border-radius: 30px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  cursor: default;
  transition: var(--main-elem-transition);
  &.text_info:hover {
    scale: var(--main-elem-scale);
  }
}
.server {
  display: flex;
  border-radius: 50px 50px 0 0;
  height: 100vh;
  width: 100%;
  background-color: #000000;
  flex-direction: column;
  align-items: center;
  box-shadow: -45px 50px 0 -5px #000000, 45px 50px 0 -5px #000000;
}
.modpack_name {
  color: white;
  margin-top: 70px;
}
.gloomy_title {
  border-radius: 10px;
  width: 50em;
}
@media only screen and (max-width: 600px) {
  .gloomy_title {
    width: 20em;
  }
  .server {
    height: 150vh;
    width: 100vw;
    box-shadow: -5px 60px 0 5px #000000, 5px 150px 0 -15px #000000;
  }

}

/* Стили для планшетов и небольших мониторов */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .gloomy_title {
    width: 40em;
  }
  .server {
    height: 160vh;
    width: 100vw;
    box-shadow: -5px 60px 0 5px #000000, 5px 150px 0 -15px #000000;
  }
}

/* Стили для ноутбуков и более крупных мониторов */
@media only screen and (min-width: 1025px) {

}
