.social_reg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.or {
  margin-top: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  font-size: 20px;
  color: #888888;
  font-family: Poppins, sans-serif;
  gap: 10px;
}
