.description_main_text {
  width: 100%;
}
.title {
  font-family: "Noto Sans", sans-serif;
  width: 70%;
  font-size: 50px;
  background: linear-gradient(to right, #0018b7, #ff1500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
.title_after {
  font-family: "Noto Sans", sans-serif;
  background: linear-gradient(to right, #0018b7, #ff1500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  width: 550px;
  margin: 30px 0;
  font-size: 30px;
  //color: rgba(255, 166, 0, 0.59);
}

@media only screen and (min-width: 120px) and (max-width: 600px) {
  .description_main_text {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .title {
    width: 90%;
    font-size: 15px;

    margin-top: 30px;
    text-align: center;

  }
  .title_after {
    text-align: center;
    font-size: 15px;
    width: 90%;
    margin-top: 15px;

  }
}

/* Стили для планшетов и небольших мониторов */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

/* Стили для ноутбуков и более крупных мониторов */
@media only screen and (min-width: 1025px) {

}

