.description_main_text {
  margin-left: 260px;
  width: 80%;
  font-family: "Noto Sans", sans-serif;
  font-size: 50px;
  color: rgba(255, 153, 0, 0.56);

  font-weight: bolder;
}
.title_after {
  width: 350px;
  margin: 30px 0;
  font-size: 30px;
  color: rgba(255, 166, 0, 0.59);
}