.about_header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;

}
.btn_back {
  opacity: 0.6;
}
.about_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 40px;
  font-family: Poppins, sans-serif;
}