@import "https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap";

.description {
  margin-top: 85px;
  margin-left: 250px;
  width: 62em;
  display: flex;
  flex-direction: column;
  height: 44em;
}

@media only screen and (min-width: 120px) and (max-width: 600px) {
  .description {

    margin-left: 0;
    width: 22.5em;
    height: 36em;
    margin-top: 35px;
  }
}

/* Стили для планшетов и небольших мониторов */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

/* Стили для ноутбуков и более крупных мониторов */
@media only screen and (min-width: 1025px) {

}


