@import "https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap";

.description {
  margin-top: 85px;
  margin-left: 250px;
  width: 62em;
  display: flex;
  flex-direction: column;
  height: 44em;
}

