.foot_nav_info_btn {
  text-decoration: none;
  transition: 0.2s;
  color: rgb(255, 255, 255);
  font-family: Poppins, sans-serif;
  &.foot_nav_info_btn:hover {
    scale: var(--main-elem-scale);
  }
}
.foot_nav_info_btn_donate {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(to right, rgb(255, 45, 8) 0%, rgba(231, 202, 58, 0.92) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  height: 40px;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 80px;
  border-radius: 12px;
  transition: 0.2s;
  cursor: pointer;
  animation: animeee 2.7s infinite;
  font-family: Poppins, sans-serif;

}
@keyframes animeee {
  0% {
    font-size: 20px;
  }
  25% {
    font-size: 24px;
  }
  50% {
    font-size: 20px;
  }
  75% {
    font-size: 24px;
  }
  100% {
    font-size: 20px;
  }
}
@media only screen and (min-width: 120px) and (max-width: 600px) {
  .foot_nav_info_btn, .foot_nav_info_btn_donate {
    display: none;
  }
}

/* Стили для планшетов и небольших мониторов */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

/* Стили для ноутбуков и более крупных мониторов */
@media only screen and (min-width: 1025px) {

}