.nav_social {
  display: flex;
  gap: 10px;
}
.social_icons {
  width: 40px;
  height: 40px;
  filter: grayscale(1);
  transition: var(--main-elem-transition);
  color: #262626;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &.social_icons:hover {
    scale: 1.5;
    filter: grayscale(0);
  }
}
@media only screen and (min-width: 120px) and (max-width: 600px) {
  .nav_social {
    gap: 6px;
  }
  .social_icons {
    width: 25px;
    height: 25px;
  }
}

/* Стили для планшетов и небольших мониторов */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

/* Стили для ноутбуков и более крупных мониторов */
@media only screen and (min-width: 1025px) {

}
