.main_reg {
  display: flex;
  gap: 25px;

}
.vk {
  height: 50px;
  width: 270px;
  background-color: #376cde;
  color: white;
  border: none;
  border-radius: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
  font-weight: bolder;
  font-size: 15px;
  font-family: Poppins, sans-serif;
  transition: var(--main-elem-transition);
  &.vk:hover {
    scale: var(--main-elem-scale);
  }
}

.mail {
  height: 50px;
  width: 270px;
  background-color: #3f434f;
  color: white;
  border: none;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: bolder;
  font-size: 15px;
  font-family: Poppins, sans-serif;
  transition: var(--main-elem-transition);
  &.mail:hover {
    scale: var(--main-elem-scale);
  }
}

.vk_icon {
  width: 40px;
}
@media only screen and (min-width: 120px) and (max-width: 600px) {
  .main_reg {
    gap: 10px;
  }
  .vk {
    width: 165px;
    font-size: 10px;
    justify-content: space-evenly;
    height: 40px;
  }
  .vk_icon {
    width: 20px;
  }
  .mail {
    width: 165px;
    font-size: 10px;
    justify-content: space-evenly;
    height: 40px;
  }
}

/* Стили для планшетов и небольших мониторов */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

/* Стили для ноутбуков и более крупных мониторов */
@media only screen and (min-width: 1025px) {

}