button {
  cursor: pointer;
}

.nav_register {
  display: flex;
  gap: 40px;
}



.register_btn {
  color: white;
  text-decoration: transparent;
  gap: 30px;
  height: 50px;
  border: none;
  transition: var(--main-elem-transition);
  font-family: Poppins, sans-serif;
  background: linear-gradient(to right, #c9c9c9, #888888);
  filter: drop-shadow(0 0 10px #888888);
  font-size: 25px;
  border-radius: 50px;
  width: 120px;
  &.register_btn:hover {
    scale: var(--main-elem-scale);
  }
}

.download_btn {
  color: white;
  text-decoration: transparent;
  gap: 30px;
  height: 50px;
  border: none;
  font-size: 20px;
  transition: var(--main-elem-transition);
  font-family: Poppins, sans-serif;
  background: linear-gradient(to right, #ffce08 0%, #e73a3a 100%);
  border-radius: 50px;
  filter: drop-shadow(0 0 10px #e86e1f);
  width: 200px;
  &.download_btn:hover {
    scale: var(--main-elem-scale);
    filter: drop-shadow(0 0 10px #e86e1f);
    background: linear-gradient(to right, #ffce08 0%, #e73a3a 100%);
  }
}
.mob-menu_btn {
  display: flex;
  height: 30px;
  width: 60px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  border: 1px solid black;
  border-radius: 20px;
  font-family: Monospaced, sans-serif;
}


@media only screen and (max-width: 600px) {
  .nav_register {
    display: none;
  }
  .register_btn {
    display: none;
  }
  .download_btn {
    display: none;
  }
  .mob-menu_btn {
    margin-right: 20px;

  }
}

/* Стили для планшетов и небольших мониторов */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .nav_register {
    display: flex;
  }
  .nav_register {
    display: none;
  }
  .register_btn {
    display: none;
  }
  .download_btn {
    display: none;
  }
  .mob-menu_btn {
    height: 40px;
    width: 100px;
    font-size: 20px;
  }
}

/* Стили для ноутбуков и более крупных мониторов */
@media only screen and (min-width: 1025px) {
  .mob-menu_btn {
    display: none;
  }
}
