.description_action {
  display: flex;
  flex-direction: row;
  font-family: "Noto Sans", sans-serif;
  gap: 40px;
  margin: 0;
}
#click_me {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  height: 50px;
  width: 260px;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 15px;
  font-family: "Noto Sans", sans-serif;
  background: linear-gradient(to right, #FF8008 0%, #e73a3a 100%);
  filter: drop-shadow(0 0 10px #e11e1e);
  transition: var(--main-elem-transition);
  &#click_me:hover {
    font-family: "Noto Sans", sans-serif;
    scale: var(--main-elem-scale)
  }
}
.online {
  font-family: Poppins, sans-serif;
  font-style: normal;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #cecece;
  border-radius: 30px;
  height: 50px;
  width: 420px;
}
.online_mark {
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  background: #70d570;
  width: 1px;
  height: 1px;
  border: 2px solid #70d570;
  position: relative;
  &.online_mark::after,
  .online_mark::before {
    content: '';
    position: absolute;
    border: 2px solid #70d570;
    left: -8px;
    opacity: 0;
    right: -8px;
    top: -8px;
    bottom: -8px;
    border-radius: 50%;
    animation: pulse 1.5s linear infinite;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: var(--main-elem-scale);
    opacity: 0;
  }
}
@media only screen and (max-width: 600px) {
  .description_action {
    align-items: center;
    gap: 20px;
  }
  #click_me {
    height: 40px;
    width: 160px;
    font-size: 13px;
    margin-left: 40px;
  }
  .online {
    height: 30px;
    width: 160px;
    font-size: 10px;
    gap: 10px;

  }
  .online_mark {
    margin-left: 6px;
    height: -30px;
    width: -30px;
  }
}

/* Стили для планшетов и небольших мониторов */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

/* Стили для ноутбуков и более крупных мониторов */
@media only screen and (min-width: 1025px) {

}
